<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Node with Express</title>
</head>
<body>
    <h1>you are on the contact page</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam, non sint in quae aperiam quaerat. Iste voluptas minima minus nihil saepe iure dolor,
        sequi repudiandae voluptatem, in ducimus quisquam fuga?</p>
</body>
</html>